html {
  scroll-behavior: smooth;
}

.home-bg-color
{
  padding-top: 100px;
}

.bg-footer-color
{
  background-color: #171721;
}

.section.bg-footer-color
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_title
{
  max-width: 800px;
}

.header_subtitle
{
  max-width: 600px;
}
