<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="DS4 Tool for Windows" />
        <meta name="keywords" content=Dualshock 4,Windows" />
        <meta name="author" content="Ryochan7" />

        <!-- Site Title -->
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        <!-- Site favicon -->
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.png">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css">

        <!-- MFP Css -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/magnific-popup.css">

        <!-- Material Icon -->
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/materialdesignicons.min.css" />

        <!-- Pe7 Icon -->
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pe-icon-7.css">

        <!-- Owl Slider -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/owl.carousel.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/owl.theme.css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/owl.transitions.css" />

        <!-- Custom  Css -->
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/custom.css" />
        {% block extra_css %}{% endblock extra_css %}
        {% endblock head %}
    </head>
    <body>

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav sticky">
            {% block extra_navigation %}
            <div class="container">
                <!-- LOGO -->
                <a class="logo navbar-brand" href="{{ SITEURL }}/">
                    <img src="{{ SITEURL }}/theme/images/DS4W2.png" alt="" class="img-fluid"> 
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                        <li class="nav-item">
                            <a href="{{ SITEURL }}/#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ SITEURL }}/#features" class="nav-link">Features</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ SITEURL }}/#screenshots" class="nav-link">Screenshots</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ SITEURL }}/#changelog" class="nav-link">Changelog</a>
                        </li>
                    </ul>
                    <a href="https://github.com/Ryochan7/DS4Windows/" target="_blank"><img src="{{ SITEURL }}/theme/images/github.png" alt="DS4Windows GitHub page"></a>
                </div>
            </div>
            {% endblock extra_navigation %}
        </nav>
        <!-- Navbar End -->

{% block content %}
{% endblock content %}

{% block footer %}
        <!-- Start Contact/Footer -->
        <section class="section bg-footer-color" id="footer">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <h6 class="mt-3 text-white text-uppercase">About DS4Windows</h6>
                        <div class="mt-3">
                            <p class="about_oxcer">
                                This fork of DS4Windows is a project originally based on the work of <a href="http://ds4windows.com/" target="_blank">Jays2Kings</a>.
                                Many changes have been made to the project since it was originally forked in March 2017. The head of the current project is <a href="https://github.com/Ryochan7" target="_blank">Ryochan7</a>
                                and many contributions have been made on GitHub by <a href="https://raw.githubusercontent.com/Ryochan7/DS4Windows/jay/contributors.txt" target="_blank">users</a>.
                            </p>
                        </div>
                        <ul class="list-inline fot_social">
                            <li class="list-inline-item"><a href="https://github.com/Ryochan7/DS4Windows/" class="social-icon text-muted"><i class="mdi mdi-github-circle"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/ds4windows" class="social-icon text-muted"><i class="mdi mdi-twitter"></i></a></li>
                        </ul>
                    </div>

                    {#<div class="col-lg-2">
                        <h6 class="mt-3 text-white text-uppercase">Pages</h6>
                        <ul class="list-unstyled footer_menu_list mt-3">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Client</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white text-uppercase">Support</h6>
                        <ul class="list-unstyled footer_menu_list mt-3">
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Live Chat</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">Press Kit</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h6 class="mt-3 text-white text-uppercase">Locations</h6>
                        <ul class="list-unstyled footer_menu_list mt-3">
                            <li><a href="#">Melbourne</a></li>
                            <li><a href="#">London</a></li>
                            <li><a href="#">New York</a></li>
                            <li><a href="#">San Francisco</a></li>
                            <li><a href="#">Ontario</a></li>
                        </ul>
                    </div>#}
                </div>
                <div class="row pt-3">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="copy-rights mb-0">2018 &copy; Softie. Design by ThemesBoss.</p>
                        </div>
                    </div>
                </div>    
            </div>
        </section>
        <!-- End Contact/Footer -->
{% endblock footer %}

        <!-- Back To Top -->    
        <a href="#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <!-- Javascript -->
        <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/bootstrap.bundle.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/jquery.easing.min.js"></script>
        <script src="{{ SITEURL }}/theme/js/scrollspy.min.js"></script>

        <!-- Owl Js -->
        <script src="{{ SITEURL }}/theme/js/owl.carousel.min.js"></script>

        <!-- MFP JS -->
        <script src="{{ SITEURL }}/theme/js/jquery.magnific-popup.min.js"></script>

        <!-- Custom Js   -->
        <script src="{{ SITEURL }}/theme/js/custom.js"></script>  
        {% block extra_js %}{% endblock extra_js %} 
    </body>
</html>
