{% extends "base.html" %}

{% block extra_navigation %}
{{ super() }}
{% endblock extra_navigation %}

{% block content %}
        <!--Start Home-->
        <section class="home-bg-color" id="home">
            <!-- <div class="bg-overlay"></div> -->
            <div class="home-table">
                <div class="home-table-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-white text-center">
                                    <h1 class="header_title mx-auto">Use your PS4 Controller on your PC to its full potential</h1>
                                    <p class="header_subtitle mx-auto pt-4 mb-0 pb-2 text-white">DS4Windows is a portable program that allows you to get the best experience while using a DualShock 4 on your PC. By emulating a Xbox 360 controller, many more games are accessible.</p>
                                    <div class="header_btn">
                                        <a href="https://github.com/Ryochan7/DS4Windows/releases" target="_blank" class="btn btn-custom border-dark mt-4 mr-3 bg-success">Download Now</a>
                                    </div>
                                    <div>
                                        <img src="{{ SITEURL }}/theme/images/hero.png" alt="DS4" class="img-fluid mx-auto d-block">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Home -->

        <!-- Start Features -->
        <section class="section bg-light" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            {#<p class="sec_small_title text-custom mb-0">Features</p>#}
                            <h4 class="text-capitalize font-weight-bold mb-0">Features</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-star"></i>
                            </div>      
                            {#<p class="sec_subtitle mx-auto text-muted mb-0">Dantes remained confused and silent by this explanation of the thoughts which had unconsciously been working in his mind, or rather soul.</p>     #}
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="features_list mt-3">
                            <div class="features_content mt-4">
                                <div class="features_heading">
                                    <h2 class="mb-0">Simple &amp; Clean UI</h2>
                                    <p class="text-muted text-muted mb-0 mt-3">Since the idea is to get to get your controller ready for games, The UI was made to make to be quick to pick up. Once first launched, the tool takes your through the setup, gives you a default profile and you&#39;re ready to go, or if you choose you can change things to your heart&#39;s content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mt-3 features_img">
                            <img src="{{ SITEURL }}/theme/images/main.png" alt="Initial Screen" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="mt-3 features_img">
                            <img src="{{ SITEURL }}/theme/images/profile.png" alt="Profile Settings" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="features_list mt-3">
                            <div class="features_content mt-4">
                                <div class="features_heading">
                                    <h2 class="mb-0">Profile System</h2>
                                    <p class="text-muted text-muted mb-0 mt-3">With profiles, it makes it easier to quickly swap through various settings for your controller. You can set up controls for certain games, or set the lightbar to your favorite color. You can even swipe two fingers along the touchpad to swap profiles without the need to even open back the program.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="features_list mt-3">
                            <div class="features_content mt-4">
                                <div class="features_heading">
                                    <h2 class="mb-0">Automatic Profiles</h2>
                                    <p class="text-muted text-muted mb-0 mt-3">Along with switching profiles manually, you can also switch your controllers to different profiles automatically when certain programs are launched.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mt-3 features_img">
                            <img src="{{ SITEURL }}/theme/images/autoprofiles.png" alt="Auto Profiles Screen" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="mt-3 features_img">
                            <video id="video" autoplay loop><source src="{{ SITEURL }}/theme/images/recordmacro.webm" type="video/webm" /> Your browser does not support the video tag.</video>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="features_list mt-3">
                            <div class="features_content mt-4">
                                <div class="features_heading">
                                    <h2 class="mb-0">Many Configuration Options</h2>
                                    <p class="text-muted text-muted mb-0 mt-3">From control mapping, to touchpad sensitivity, to macros, to rainbow lightbar, to motion controls, to special actions triggered by pressing multiple actions,&nbsp;to launching a program with profiles, there are plenty of settings to play around with.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Features -->
        
        <!-- Start Howto -->
        <section class="mt-1" id="howto">
        	<div class="container">
        		<div class="row">
					<div class="col-lg-12">
						<div class="main-title-border text-center">
							<i class="mdi mdi-star"></i>
						</div>
				    </div>
        			{#<div class="col-lg-12">
                		<div class="text-center sec_title">
                            <p class="sec_small_title text-custom mb-0">About</p>
                            <h4 class="text-capitalize font-weight-bold mb-0">About Us</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-star"></i>
                            </div>      
                            <p class="sec_subtitle mx-auto text-muted mb-0">Dantes remained confused and silent by this explanation of the thoughts which had unconsciously been working in his mind, or rather soul.</p>
                        </div>#}
        			</div>
        		</div>
        		<div class="row mt-2">
                    <div class="col-lg-6">
                        <div class="about_boxes mt-3 rounded p-4">
                            <div class="about_icon text-center">
                                <i class="mdi mdi-airplay text-custom"></i>
                            </div>
                            <div class="about_content mt-3">
                                <h5 class="font-weight-bold text-center">Requirements</h5>
                                <ul class="text-muted mb-0 mt-3">
									<li>Windows 10 or newer (Thanks <span class="font-weight-bold">Microsoft</span>)</li>
									<li><a href="https://dotnet.microsoft.com/download/dotnet/5.0/runtime" target="_blank">Microsoft .NET 5.0 or higher</a></li>
									<li>Visual C++ 2015-2019 Redistributable. <a href="https://aka.ms/vs/16/release/vc_redist.x64.exe">x64</a> or <a href="https://aka.ms/vs/16/release/vc_redist.x86.exe">x86</a></li>
									<li><a href="https://vigem.org/" target="_blank">ViGEmBus</a> v.1.17.333.0 driver or later (DS4Windows will install it for you)</li>
									<li><span class="font-weight-bold">Sony</span> DualShock 4 or other supported controller</li>
									<li>Connection method:
										<ul>
											<li>Micro USB cable</li>
											<li><a href="https://www.amazon.com/gp/product/B01KYVLKG2" target="_blank">Sony Wireless Adapter</a></li>
											<li>Bluetooth 4.0 (via an <a href="https://www.newegg.com/Product/Product.aspx?Item=N82E16833166126" target="_blank">adapter like this</a> or built in pc). Only use of Microsoft BT stack is supported. CSR BT stack is confirmed to not work with the DS4 even though some CSR adapters work fine using Microsoft BT stack. Toshiba's adapters currently do not work. Disabling 'Enable output data' in the controller profile settings might help with latency issues, but will disable lightbar and rumble support.</li>
										</ul>
									</li>
									<li>Disable <span class="font-weight-bold">PlayStation Configuration Support</span> and <span class="font-weight-bold">Xbox Configuration Support</span> options in Steam</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about_boxes mt-3 rounded p-4">
                            <div class="about_icon text-center">
                                <i class="mdi mdi-check-circle text-custom"></i>
                            </div>
                            <div class="about_content mt-3">
                                <h5 class="font-weight-bold text-center">Features</h5>
                                <ul class="text-muted mb-0 mt-3">
									<li>Use the same app for mapping a DS4, DualSense, Switch Pro, and JoyCon</li>
									<li>Emulate an Xbox 360 controller for using a DS4 in many PC games that don't directly support it</li>
									<li>Emulate a DS4 v.1 for games that only support a Sony DS4 v.1 in some situations. Allow third party DS4 support or wireless support for some games</li>
									<li>Play PC games that only support KB+M input by emulating KB+M actions</li>
									<li>Customize input and output response using many modifier options</li>
									<li>Use DS4 touchpad as a mouse or map to other output controls</li>
									<li>Play games with Gyro controls by emulating Mouse or Mouse-like RS output when emulating an Xbox 360 controller</li>
									<li>Control the lightbar color: Check battery level, assign slot numbers to specific colors, profile controlled lightbar color</li>
									<li>Automatically switch profiles when different programs are in focus</li>
									<li>Mode Shifts for allowing more mappings beyond the number of buttons on a device</li>
									<li>Automatically checks and downloads future app updates</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
        </section>
        <!-- End Howto -->

        <!-- Start Screenshot -->
        <section class="section" id="screenshots">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            {#<p class="sec_small_title text-custom mb-0">Screenshots</p>#}
                            <h4 class="text-capitalize font-weight-bold mb-0">Screenshots</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-star"></i>
                            </div>
                            {#<p class="sec_subtitle mx-auto text-muted mb-0">Dantes remained confused and silent by this explanation of the thoughts which had unconsciously been working in his mind, or rather soul.</p>     #}
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{{ SITEURL }}/theme/images/main.png" class="img-zoom">
                                <img src="{{ SITEURL }}/theme/images/main.png" alt="Main Screen" class="img-fluid img-thumbnail mx-auto d-block">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{{ SITEURL }}/theme/images/profile.png" class="img-zoom">
                                <img src="{{ SITEURL }}/theme/images/profile.png" alt="Profile Settings" class="img-fluid mx-auto img-thumbnail d-block">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{{ SITEURL }}/theme/images/shift_modifier.png" class="img-zoom">
                                <img src="{{ SITEURL }}/theme/images/shift_modifier.png" alt="Shift Modifier" class="img-fluid mx-auto img-thumbnail d-block">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{{ SITEURL }}/theme/images/cont_readings.png" class="img-zoom">
                                <img src="{{ SITEURL }}/theme/images/cont_readings.png" alt="Controller Readings" class="img-fluid mx-auto img-thumbnail d-block">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{{ SITEURL }}/theme/images/autoprofiles.png" class="img-zoom">
                                <img src="{{ SITEURL }}/theme/images/autoprofiles.png" alt="Auto Profiles" class="img-fluid mx-auto img-thumbnail d-block">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mt-3">
                            <a href="{{ SITEURL }}/theme/images/log.png" class="img-zoom">
                                <img src="{{ SITEURL }}/theme/images/log.png" alt="General Settings" class="img-fluid mx-auto img-thumbnail d-block">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Screenshot -->

        <!-- Start Changelog -->
        <section class="section" id="changelog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h4 class="text-capitalize font-weight-bold mb-0">Changelog</h4>
                            <div class="main-title-border">
                                <i class="mdi mdi-star"></i>
                            </div>
                            <p class="sec_small_title text-custom mb-0">Current version : 3.0.1</p>
                            <h5 class="text-capitalize font-weight-bold mb-0"><a href="https://docs.google.com/document/d/1CovpH08fbPSXrC6TmEprzgPwCe0tTjQ_HTFfDotpmxk" target="_blank">See full changelog here</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Changelog -->

{% endblock content %}


