{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock html_lang %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock title %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}
{% endblock %}


{% block content %}
<section class="section home-bg-color">
    <div class="container text-white">
        {% block content_title %}
        <div class="row d-block text-center">
            <h1>{{ page.title }}</h1>
            <div class="main-title-border">
                <i class="mdi mdi-star"></i>
            </div>
        </div>
        {% endblock content_title %}
        {% block inner_content %}
        <div class="row mt-3">
            {% import 'translations.html' as translations with context %}
            {{ translations.translations_for(page) }}

            {{ page.content }}

            {% if page.modified %}
                <p> Last updated: {{ page.locale_modified }}</p>
            {% endif %}
        </div>
        {% endblock inner_content %}
    </div>
</section>
{% endblock content %}

